@model (int, List<string>?) 

@{
    ViewData["Title"] = "Patient history";
}

<h1>Patient history</h1>
<div id="notes-container">
    @if (Model.Item2 is not null) {
        @foreach (var item in Model.Item2)
        {
            <p>@item</p>
            <hr>
        }
    }
</div>

<div id = "note-validation" class="text-danger"></div>
<textarea id="textData" rows="5" cols="50" style="display:block;"></textarea>
<br>
<button id="submitButton" class="btn btn-primary">Add new note</button>

<a href="/Patient">Go to patients view</a>


<script>
    document.getElementById("submitButton").addEventListener("click", function () {
        var textData = document.getElementById("textData").value;
        $.ajax({
            type: "POST",
            url: "/PatHistory/Add",
            data: { 
                PatId: @Model.Item1, 
                Note: textData
            },
            success: function (response) {
                $("#notes-container").append("<p>" + textData + "</p> <hr>");
                $("#note-validation").text('');
            },
            error: function (xhr, status, error) {
                if (xhr.status === 400) {
                    $("#note-validation").text('The note cannot be empty');
                    return;
                } 
                $("#note-validation").text('Internal error, try later');
            }
        });
    });
</script>
